$Global:EnvFile = @{
    CloudFlare_Email     = "admin@admin.com"
    CloudFlare_APIKey    = "MyVeryLongKey ;)"
    AppConfig_State      = "" # Write your JSON here if you prefer this instead of the State.json file
    AppConfig_Sleep      = "300"
    ServerConfig_DevMode = "true"
}